@import '../_shared/_variables';

ul, .navbar-nav{
  li{
    list-style: none;
    a{
      text-shadow: none;
      &:hover{
        background: transparent;
      }
    }
  }
}

//logo
.site__logo{
  &_link {
    position: relative;
    padding: 10px 0 0 20px;
    display: inline-block;
  }
}
.header{
  padding: 30px 0 0 0;
  .navbar-toggle{
    .icon-bar{
      background: #fff;
    }
  }
}
.main__nav{
  margin-bottom: 0;
  a{
    text-decoration: none;
  }
  li {
    a, > a {
      color: $main__nav_link-color;
      &:hover {
        color: $main__nav_link-color-hover;
        background: transparent;
      }
      &:focus{
        background: transparent;
      }
    }
  }
  &_item{
    width: 134px;
    text-align: center;
    padding-bottom: 20px;
    > a {
      color: $main__nav_link-color;
      &:hover {
        color: $main__nav_link-color-hover;
        background: transparent;
      }
    }
    &.open{
      background: $main__nav_dropdown-bg;
      .main__nav_link{
        background: $main__nav_dropdown-bg !important;
        color: #fff;
        &:focus{
          background: $main__nav_dropdown-bg !important;
        }

      }
      .dropdown-menu{
        border: none;
        border-radius: 0;
        box-shadow: none;
        background: $main__nav_dropdown-bg;
        min-width: 216px;
        left: -81px;
        padding: 40px 0 0 30px;
        li{
          > a{
            padding: 0 0 15px 0;
            font-size: 1.2rem;
          }
        }
      }
    }
  }

 &_link{
    font: bold 1.2rem 'Droid Sans', sans-serif;
    color: $main__nav_link-color;
    text-transform: uppercase;
    text-shadow: none;

   &:hover{
     color: $main__nav_link-color-hover;
   }
  }
}
.main__nav--panel{
  margin-right: 5px;
  .main__nav_item--panel{
    width: auto;
    margin-left: 40px;
    .main__nav_notice{
      display: inline-block;
      background: $main__nav_link-color-hover;
      color: #fff;
      @include border_radius(50%);
      width: 18px;
      height: 18px;
      vertical-align: middle;
      position: absolute;
      left: 12px;
      top: 3px;
      z-index: 3;
      font-size: 1rem;
      line-height: 2rem;
      text-align: center;
    }
  }
  .main__nav_link--panel{
    position: relative;
    &:after{
      content: "";
      display: inline-block;
      vertical-align: middle;
      background: url("../img/panel-icon-sprite.png")  0 0 no-repeat;
      width: 20px;
      height: 20px;
    }
    &.pn-settings{
      &:after{
        width: 21px;
        height: 21px;
        background-position: 0 0;
        margin: -10px 0 0 -10px;
      }
    }
    &.pn-notice{
      &:after{
        width: 21px;
        height: 28px;
        background-position: -33px 0;
        margin: -10px 0 0 -14px;
      }
    }
    &.pn-search{
      &:after{
        width: 24px;
        height: 24px;
        background-position: -64px 0;
        margin: -12px 0 0 -12px;
      }
    }
  }
}
.main{
  margin-top: $header-height;
}
.sidebar__nav{
  padding-bottom: 20px;
  &_item{
    width: auto;
    padding-bottom: 0;
    margin-bottom: 18px;
  }
  &_link{
    text-align: left;
    font-weight: normal;
    text-transform: none;
    padding: 0;
  }
}
.sidebar-nav-wrapper{
  padding: 35px 35px 0 0;
}
.sidebar__nav--pad{
  border-bottom: 1px solid #e8e6ec;
}
.blog__header{
  font-size: 1.2rem;
  margin: 30px 0;
}
.blog {
  &__header{
    font: normal 1.2rem $main-font-family;
  }
  &__author{
    display: inline-block;
    margin-bottom: 14px;
    font: 1.2rem $main-font-family;
  }
  &__item {
    &_data {
      display: table;
      &--green {
        width: 38px;
        height: 38px;
        border-bottom: 1px solid #48474d;
        background: $main__nav_link-color-hover;
        color: #fff;
        font-size: 1rem;
      }

    }
    &_dt {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
    &_header {
      font: bold 1.2rem $main-font-family;
      margin: 0 0 6px 0;

    }
  }
}